*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    /* margin:40px 150px; */

}

.intro__course{
    padding: 8% 0;
    background-image: url("/img/intro__course__img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    font-size: 30px;
    color: #4c5c6c !important;
    font-family: 'Montserrat';
    margin-top: 0;
    margin-bottom: 10px;
    border: 2px double #4c5c6c;
    border-radius: 10px;
    font-weight: 500 !important;
    text-align: center;
}
/* .middle{
    margin:40px 150px;
} */
.course__group::-webkit-scrollbar {
    display:none;
}

.course__group {
   
    background: rgb(248, 248, 248);
    height: 656px;
    overflow:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: 1px solid #4c5c6c;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.course__group a {
    
    text-decoration: none;
    width: 100%;
    width: 60%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow:  10px 5px 10px #4c5c6c;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: #4c5c6c;
}

.course{
    display : flex;
    justify-content: center;
    align-items: center;
}
.course__img{
    border-radius: 50%;
    
}
.course__name{
    font-size: 40px;
    margin: 0 50px;
    
}
.middle,.container{
    margin:0 150px;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    background-color: #f6f6f6;
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.06);
  }
  nav .right {
    width: 220px;
    height: 46px;
    display: flex;
  }
  nav .right button {
    background-color: #5090bd;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    width: 100px;
    margin: 5px 0;
    padding: 1px 6px;
    margin-left: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    line-height: 34px;
    border: none;
  }
  nav img {
    width: 80px;
    height: 80px;
    display: inline;
  }
  nav .navBar a {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    gap: 16px;
    flex: 1;
    text-align: right;
    color: #ce9569;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Quicksand;
  }
  nav .navBar a:hover {
    background-color: #292524;
    border-radius: 4px;
  }

.heading{
    text-align: center;
    color: #4c5c6c;
    font-size: 36px;
    margin: 25px;
}